/*generales*/
.tipografia {
  font-family: cocogoose pro; }

#tipografia {
  font-family: cocogoose pro; }

body {
  line-height: none;
  color: none;
  text-align: none; }

/*generales*/
/*Media Query*/
/*X-Large devices*/
@media (min-width: 1200px) {
  .fotoBanner {
    height: auto; }
  .lupaBuscador {
    visibility: hidden; } }

/*Large devices*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .fotoBanner {
    width: 80%;
    height: auto; }
  .lupaBuscador {
    visibility: hidden; } }

/*medium devices*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .fotoBanner {
    width: 70%;
    height: auto; }
  .padreFlexDatosExtra {
    width: 90%; }
  .btn {
    font-size: 1.2rem; }
  .estiloBuscador {
    border: solid 1.5px;
    height: 30px; }
  .lupaBuscador {
    visibility: hidden; }
  .container, .container-md, .container-sm {
    max-width: 768px; } }

/*small devices*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .fotoBanner {
    width: 80%;
    height: auto; }
  .padreFlexDatosExtra {
    width: 90%; }
  .btn {
    font-size: 0.9rem; }
  .estiloHeader {
    width: 100%; }
  .estiloBuscador {
    visibility: hidden; }
  .lupaBuscador {
    visibility: visible; }
  .mapa {
    width: 600px; }
  .datosExtra {
    height: auto;
    width: 80rem; }
  #estiloInfoFooter {
    color: white;
    text-align: right;
    font-size: 1rem; } }

/*x-small devices*/
@media (max-width: 375px) {
  header {
    width: 70%; }
  .estiloHeader {
    justify-content: space-around; }
  .fotoBanner {
    width: 80%;
    height: auto; }
  .padreFlexDatosExtra {
    width: 80%; }
  .btn {
    font-size: 1rem; }
  .estiloBuscador {
    visibility: hidden; }
  .lupaBuscador {
    visibility: visible; }
  .datosExtra {
    height: auto;
    width: 80rem; }
  .mapa {
    width: 300px; }
  #estiloInfoFooter {
    color: white;
    text-align: right;
    font-size: 1rem; }
  .mapa {
    width: 100px;
    height: auto; } 

  .estiloLogoElBalcon {
    width: 250%;
    margin-top: 2rem;} }

/*Media Query*/
/*Caja Shop*/
.cajashop {
  color: #ffffff;
  text-align: center;
  background: #A0B882;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px; }

.cajarecetas {
  color: #ffffff;
  text-align: right;
  background: #A0B882;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px; }

/*Header*/
.estiloLogoElBalcon {
  width: 18.75rem;
  margin-top: 2rem; }

.estiloBuscador {
  border: solid 1.5px;
  width: 500px;
  height: 30px;
  text-align: center;
  transition: all 1s;
  justify-content: center;
  margin-top: 2rem; }

.estiloBuscador:hover {
  width: 600px; }

.btn-primary {
  color: RGB(188 194 130);
  background-color: white;
  border-color: white; }

.container header {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

*, ::after, ::before {
  box-sizing: content-box; }

/*Header*/
/*Nav*/
.navbar-light .navbar-nav .nav-link {
  font-size: 1.4rem;
  color: #ABCFD1; }

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #ABCFD1;
  color: white; }

.navbar-expand-md .navbar-collapse {
  justify-content: center; }

.navbar-light .navbar-toggler {
  color: #ABCFD1;
  border-color: #ABCFD1; }

/*Nav*/
/*Grilla*/
.inicioBanner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.btn-info {
  border-color: #ABCFD1;
  background-color: white;
  color: #ABCFD1;
  transition: color; }

.btn-info:hover {
  color: white;
  border-color: #ABCFD1;
  background-color: #ABCFD1; }

a {
  text-decoration: none;
  color: black;
  transition: color;
  color: #E0DF78; }

a:hover {
  color: #5d7c61;
  text-decoration: underline; }

.estiloRecetas {
  display: grid;
  grid-template-areas: 'receta receta receta receta receta receta' 'foto foto ingredientes ingredientes none none' 'foto foto procedimiento procedimiento procedimiento procedimiento' 'foto foto procedimiento procedimiento procedimiento procedimiento' 'foto foto procedimiento procedimiento procedimiento procedimiento';
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  margin: 10px; }

.div1 {
  grid-area: receta;
  justify-self: start;
  align-self: right;
  font-size: 25px;
  font-style: oblique;
  margin-left: 20px;
  text-align: left; }

.div2 {
  grid-area: foto;
  justify-self: center; }

.div3 {
  grid-area: ingredientes;
  justify-self: right;
  align-self: right;
  text-align: left; }

.div4 {
  grid-area: procedimiento;
  justify-self: right;
  align-self: right;
  margin-left: 30px;
  text-align: left; }

.sustentabilidad {
  display: grid;
  grid-template-areas: 'compost zerowaste podcast' 'texto texto texto';
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  margin-top: 100px; }

.compost {
  grid-area: compost; }

.zerowaste {
  grid-area: zerowaste; }

.podcast {
  grid-area: podcast; }

.imagenesSustent {
  height: 300px; }

.textoSustent {
  grid-area: texto;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  color: black; }

.datosExtra {
  border-left: solid 2px grey;
  height: auto;
  width: 120rem; }

.datosExtra__padre--estilo {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  text-align: center; }

/*Grilla*/
/*Footer*/
section {
  width: 100%;
  display: inline-block;
  background: #B8C49D;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline; }

.footer-distributed {
  background: #B8C49D;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px;
  margin: 0; }

.footer-distributed h3 span {
  color: black; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: black;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: black;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

.redesSociales {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px; }

.mapa {
  width: 350px;
  height: 200px; }

.estiloLogoBlanco {
  width: 18.75rem; }

/* If you don't want the footer to be responsive, remove these media queries */
@media screen and (min-width: 1000px) and (max-width: 1234px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center {
    width: 40%;
    padding-left: 80px; }
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; } }

@media screen and (min-width: 950px) and (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center {
    width: 40%;
    padding-left: 80px; }
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

@media screen and (min-width: 375px) and (max-width: 950px) {
  .footer-distributed {
    font: bold 14px; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

/*Contacto*/
* {
  box-sizing: border-box; }

body .solocontacto {
  background-color: none;
  color: #fff;
  line-height: 1.6;
  padding: 0 1.5em; }

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

ul .paracontacto {
  list-style: none;
  padding: 0; }

.logo {
  text-align: center;
  font-size: 3em; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #A0B882; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid white; }

.contact-form form button {
  background: white;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #A0B882;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #B8C49D; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

/*Contacto*/
