/*Footer*/
.estilosContacto{
	 color:rgb(162,180,168); 
}

.redesSociales{
	width: 30px;
	height: 30px;
}


.footer_padre--estilo{
	display: flex;
	flex-direction: row wrap; 
	align-items: center;
	font-size: 0,5rem;
}

.mapa{
	width: 700px;
	height: 250px;
}

#estiloInfoFooter{
	color: white;
	text-align: right;
	font-size: 1.4rem;
}

#gradiente{
	background-color: #6F8687;
}


h1{
	font-size: 1,5rem;
}
/*Footer*/